@import "./Variables";
* {
  box-sizing: border-box;
}
#root,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
}
