@import "./Variables";
footer {
  background-color: $primary-color;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-text-color;
  box-shadow: 0px -1px 2px $neon-color, 0px -2px 4px $neon-color,
    0px -4px 8px $neon-color, 0px -8px 16px $neon-color;
  margin-top: auto;

  p {
    margin: 1rem;
  }
  .socials {
    a {
      margin: 5px;
      img {
        height: 20px;
      }
    }
  }
}
