@import "./Variables";

.postAd {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  height: 100%;
  margin-bottom: 2rem;
  flex: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: 1px solid white;
    padding: 2rem;
    height: 100%;

    .input {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      //   input {
      //     max-width: 50px;
      //   }
    }
    textarea {
      width: 100%;
      height: 20rem;
      resize: none;
    }
  }
}
