@import "./Variables";

.postAd {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  height: 100%;
  margin-bottom: 2rem;
  flex: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: 1px solid $neon-color;
    padding: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    max-width: 50rem;

    .input {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      label {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      input {
        background-color: $input-background-color;
        border-radius: 5px;
        border: none;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    .custom-file-input {
      border: 1px solid $neon-color;
      border-radius: 5px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      margin-left: 0;
      margin-right: auto;
      color: $input-text-color;
      background-color: $button-background;
    }
    input[type="file"] {
      display: none;
    }

    textarea {
      width: 100%;
      height: 20rem;
      resize: none;
      border-radius: 5px;
      background-color: $input-background-color;
    }

    button {
      margin: auto;
      background-color: $button-background;
    }
  }
}

@media screen and (min-width: 768px) {
  .postAd {
    form {
      .input {
        flex-direction: row;
        align-items: center;
        .text {
          flex-direction: row;
        }
      }
    }
  }
}
