$primary-color: rgb(20, 20, 20);
$primary-text-color: rgba(255, 255, 255, 0.9);
$neon-color: rgba(25, 118, 210, 0.5);
$input-text-color: #1976d2;
$background-color: rgb(36, 36, 36);
$button-background: rgb(50, 50, 50);
$input-background-color: rgba(255, 255, 255, 0.9);
